<section 
    id="about"
    class="about section">


    <div class="container about-container">



        <!-- About Image -->

        <div class="about-image reveal-left">


            <img
                src="assets/images/profile/about-profile.jpg"
                alt="PHP Laravel WordPress developer profile"
                loading="lazy"
            >


        </div>




        <!-- About Content -->

        <div class="about-content reveal-right">


            <div class="section-heading">


                <span class="badge">

                    About Me

                </span>



                <h2>

                    Experienced Developer Creating
                    <span class="gradient-text">
                        Scalable Digital Solutions
                    </span>

                </h2>


            </div>




            <h3>

                PHP | Laravel | WordPress | WooCommerce Specialist

            </h3>




            <p>

                I am a professional web developer specializing in
                PHP-based technologies, Laravel applications,
                WordPress websites and WooCommerce solutions.

                I help businesses transform ideas into secure,
                scalable and high-performing digital products.

            </p>




            <p>

                My approach combines clean code, modern UI/UX,
                performance optimization and business-focused
                development strategies to deliver reliable
                long-term solutions.

            </p>




            <div class="about-stats">



                <div class="stat-box">


                    <span
                        class="stat-number"
                        data-counter="10">

                        0

                    </span>


                    <span class="stat-label">

                        Years Experience

                    </span>


                </div>





                <div class="stat-box">


                    <span
                        class="stat-number"
                        data-counter="150">

                        0

                    </span>


                    <span class="stat-label">

                        Projects Completed

                    </span>


                </div>





                <div class="stat-box">


                    <span
                        class="stat-number"
                        data-counter="80">

                        0

                    </span>


                    <span class="stat-label">

                        Happy Clients

                    </span>


                </div>



            </div>




        </div>



    </div>


</section>