<section
    id="experience"
    class="experience section">


    <div class="container">


        <!-- Section Header -->

        <div class="section-heading text-center reveal">


            <span class="badge">

                Experience

            </span>



            <h2>

                Professional Journey & Development Experience

            </h2>



            <p class="section-subtitle">

                Building reliable digital products through years
                of hands-on experience in web development,
                eCommerce and enterprise solutions.

            </p>


        </div>





        <!-- Timeline -->

        <div class="timeline">



            <!-- Experience Item -->

            <article class="timeline-item reveal-left">


                <div class="timeline-marker">

                </div>



                <div class="timeline-content card">


                    <div class="timeline-date">

                        2020 - Present

                    </div>



                    <h3>

                        Senior PHP Laravel Developer

                    </h3>



                    <h4>

                        Full Stack Web Development

                    </h4>



                    <p>

                        Developing scalable web applications,
                        business platforms and custom solutions
                        using Laravel, PHP, MySQL and modern
                        frontend technologies.

                    </p>



                    <div class="timeline-tags">


                        <span>
                            Laravel
                        </span>


                        <span>
                            PHP
                        </span>


                        <span>
                            MySQL
                        </span>


                        <span>
                            APIs
                        </span>


                    </div>


                </div>


            </article>





            <!-- Experience Item -->

            <article class="timeline-item reveal-right">


                <div class="timeline-marker">

                </div>



                <div class="timeline-content card">


                    <div class="timeline-date">

                        2016 - 2020

                    </div>



                    <h3>

                        WordPress & WooCommerce Specialist

                    </h3>



                    <h4>

                        CMS & eCommerce Development

                    </h4>



                    <p>

                        Created custom WordPress websites,
                        WooCommerce stores, themes, plugins and
                        performance optimized solutions for
                        businesses.

                    </p>



                    <div class="timeline-tags">


                        <span>
                            WordPress
                        </span>


                        <span>
                            WooCommerce
                        </span>


                        <span>
                            Plugins
                        </span>


                        <span>
                            Themes
                        </span>


                    </div>


                </div>


            </article>





            <!-- Experience Item -->

            <article class="timeline-item reveal-left">


                <div class="timeline-marker">

                </div>



                <div class="timeline-content card">


                    <div class="timeline-date">

                        Early Career

                    </div>



                    <h3>

                        Web Developer

                    </h3>



                    <h4>

                        Website Development & Maintenance

                    </h4>



                    <p>

                        Started building professional websites,
                        database-driven applications and learning
                        modern software development practices.

                    </p>



                    <div class="timeline-tags">


                        <span>
                            HTML
                        </span>


                        <span>
                            CSS
                        </span>


                        <span>
                            JavaScript
                        </span>


                        <span>
                            PHP
                        </span>


                    </div>


                </div>


            </article>



        </div>


    </div>


</section>