<section
    id="faq"
    class="faq section">


    <div class="container">


        <!-- Section Header -->


        <div class="section-heading text-center reveal">


            <span class="badge">

                FAQ

            </span>



            <h2>

                Frequently Asked Questions

            </h2>



            <p class="section-subtitle">

                Common questions about development services,
                technologies and project workflow.

            </p>


        </div>





        <!-- FAQ Items -->


        <div 
            class="faq-container"
            itemscope
            itemtype="https://schema.org/FAQPage">





            <!-- FAQ 1 -->


            <div 
                class="faq-item reveal"
                itemscope
                itemprop="mainEntity"
                itemtype="https://schema.org/Question">


                <button
                    class="faq-question">


                    <span
                        itemprop="name">

                        What technologies do you specialize in?

                    </span>



                    <span>

                        +

                    </span>


                </button>



                <div
                    class="faq-answer"
                    itemscope
                    itemprop="acceptedAnswer"
                    itemtype="https://schema.org/Answer">


                    <p itemprop="text">

                        I specialize in PHP, Laravel,
                        WordPress, WooCommerce, MySQL,
                        JavaScript and modern web development
                        technologies.

                    </p>


                </div>


            </div>







            <!-- FAQ 2 -->


            <div 
                class="faq-item reveal"
                itemscope
                itemprop="mainEntity"
                itemtype="https://schema.org/Question">


                <button
                    class="faq-question">


                    <span
                        itemprop="name">

                        Can you build custom Laravel applications?

                    </span>



                    <span>

                        +

                    </span>


                </button>



                <div
                    class="faq-answer"
                    itemscope
                    itemprop="acceptedAnswer"
                    itemtype="https://schema.org/Answer">


                    <p itemprop="text">

                        Yes. I develop custom Laravel applications
                        including dashboards, APIs, business
                        platforms and enterprise solutions.

                    </p>


                </div>


            </div>







            <!-- FAQ 3 -->


            <div 
                class="faq-item reveal"
                itemscope
                itemprop="mainEntity"
                itemtype="https://schema.org/Question">


                <button
                    class="faq-question">


                    <span
                        itemprop="name">

                        Do you develop WooCommerce stores?

                    </span>



                    <span>

                        +

                    </span>


                </button>



                <div
                    class="faq-answer"
                    itemscope
                    itemprop="acceptedAnswer"
                    itemtype="https://schema.org/Answer">


                    <p itemprop="text">

                        Yes. I create customized WooCommerce
                        stores with payment integration,
                        product customization and performance
                        optimization.

                    </p>


                </div>


            </div>







            <!-- FAQ 4 -->


            <div 
                class="faq-item reveal"
                itemscope
                itemprop="mainEntity"
                itemtype="https://schema.org/Question">


                <button
                    class="faq-question">


                    <span
                        itemprop="name">

                        Do you provide website maintenance?

                    </span>



                    <span>

                        +

                    </span>


                </button>



                <div
                    class="faq-answer"
                    itemscope
                    itemprop="acceptedAnswer"
                    itemtype="https://schema.org/Answer">


                    <p itemprop="text">

                        Yes. I provide maintenance,
                        optimization, security updates and
                        ongoing technical support.

                    </p>


                </div>


            </div>





        </div>


    </div>


</section>