<footer class="footer">


    <!-- Scroll Progress -->

    <div
        id="scrollProgress"
        class="scroll-progress">
    </div>





    <div class="container footer-container">





        <!-- Brand -->


        <div class="footer-brand">


            <a
                href="#hero"
                class="logo footer-logo">


                <span class="logo-icon">

                    <b>&lt;/&gt;</b>

                </span>


                <span>

                    DevCraft

                </span>


            </a>



            <p>

                Professional PHP, Laravel, WordPress and
                WooCommerce developer creating scalable
                digital solutions.

            </p>



            <!--<div class="social-links">


                <a
                    href="#"
                    class="social-link"
                    aria-label="LinkedIn">

                    in

                </a>



                <a
                    href="#"
                    class="social-link"
                    aria-label="GitHub">

                    git

                </a>



                <a
                    href="#"
                    class="social-link"
                    aria-label="Twitter">

                    X

                </a>


            </div>-->


        </div>







        <!-- Quick Links -->


        <div>


            <h3 class="footer-title">

                Quick Links

            </h3>



            <ul class="footer-links">


                <li>

                    <a href="#about">

                        About

                    </a>

                </li>



                <li>

                    <a href="#services">

                        Services

                    </a>

                </li>



                <li>

                    <a href="#portfolio">

                        Portfolio

                    </a>

                </li>



                <li>

                    <a href="#contact">

                        Contact

                    </a>

                </li>


            </ul>


        </div>







        <!-- Services -->


        <div>


            <h3 class="footer-title">

                Services

            </h3>



            <ul class="footer-links">


                <li>

                    <a href="#services">

                        PHP Development

                    </a>

                </li>



                <li>

                    <a href="#services">

                        Laravel Applications

                    </a>

                </li>



                <li>

                    <a href="#services">

                        WordPress Solutions

                    </a>

                </li>



                <li>

                    <a href="#services">

                        WooCommerce Stores

                    </a>

                </li>


            </ul>


        </div>




    </div>







    <!-- Footer Bottom -->


    <div class="container footer-bottom">


        <p>


            ©
            <span id="currentYear"></span>

            DevCraft.

            All Rights Reserved.



        </p>


    </div>







    <!-- Back To Top -->


    <button

        id="backToTop"

        class="back-to-top"

        aria-label="Back to top">


        ↑


    </button>



</footer>