<!-- =====================================================
     DEVCRAFT PREMIUM PORTFOLIO
     Footer Section
     ===================================================== -->


<footer
    class="footer">



    <div class="container">



        <div class="footer-grid">







            <!-- Brand -->


            <div class="footer-brand">


                <a 
                href="#"
                class="footer-logo">


                    Dev<span>Craft</span>


                </a>





                <p>


                    Professional PHP and WordPress
                    developer creating scalable,
                    high-performance digital solutions.


                </p>





                <div class="footer-social">


                    <a href="#">

                        <i class="fab fa-linkedin-in"></i>

                    </a>



                    <a href="#">

                        <i class="fab fa-github"></i>

                    </a>



                    <a href="#">

                        <i class="fab fa-twitter"></i>

                    </a>



                    <a href="#">

                        <i class="fab fa-wordpress"></i>

                    </a>


                </div>



            </div>









            <!-- Navigation -->


            <div class="footer-links">


                <h3>

                    Quick Links

                </h3>



                <ul>


                    <li>

                        <a href="#about">

                            About

                        </a>

                    </li>


                    <li>

                        <a href="#services">

                            Services

                        </a>

                    </li>


                    <li>

                        <a href="#portfolio">

                            Portfolio

                        </a>

                    </li>


                    <li>

                        <a href="#contact">

                            Contact

                        </a>

                    </li>


                </ul>



            </div>









            <!-- Technology -->


            <div class="footer-links">


                <h3>

                    Technologies

                </h3>



                <ul>


                    <li>

                        PHP

                    </li>


                    <li>

                        WordPress

                    </li>


                    <li>

                        Laravel

                    </li>


                    <li>

                        WooCommerce

                    </li>


                </ul>



            </div>









            <!-- Contact -->


            <div class="footer-links">


                <h3>

                    Let's Connect

                </h3>



                <p>


                    Available for freelance projects,
                    website development and
                    business collaborations.


                </p>



                <a
                href="#contact"
                class="btn btn-primary">


                    Start Project


                </a>



            </div>







        </div>








        <!-- Footer Bottom -->


        <div class="footer-bottom">


            <p>


                © <span id="current-year"></span>
                DevCraft.
                All Rights Reserved.


            </p>



            <button
            id="back-to-top"
            class="back-to-top">


                ↑


            </button>



        </div>






    </div>




</footer>