<section
    id="skills"
    class="skills section">


    <div class="container skills-container">


        <!-- Skills Content -->

        <div class="skills-content reveal-left">


            <div class="section-heading">


                <span class="badge">

                    Skills

                </span>



                <h2>

                    Technical Expertise & Development Stack

                </h2>


            </div>



            <p>

                I build modern web applications using a powerful
                combination of backend technologies, CMS platforms,
                databases and frontend tools.

            </p>





            <!-- Skill Progress -->

            <div class="skill-item">


                <div class="skill-header">


                    <span class="skill-name">

                        PHP

                    </span>


                    <span class="skill-percentage">

                        95%

                    </span>


                </div>



                <div class="skill-bar">

                    <div
                        class="skill-progress"
                        data-progress="95">
                    </div>

                </div>


            </div>





            <div class="skill-item">


                <div class="skill-header">


                    <span class="skill-name">

                        Laravel

                    </span>


                    <span class="skill-percentage">

                        90%

                    </span>


                </div>



                <div class="skill-bar">

                    <div
                        class="skill-progress"
                        data-progress="90">
                    </div>

                </div>


            </div>





            <div class="skill-item">


                <div class="skill-header">


                    <span class="skill-name">

                        WordPress / WooCommerce

                    </span>


                    <span class="skill-percentage">

                        95%

                    </span>


                </div>



                <div class="skill-bar">

                    <div
                        class="skill-progress"
                        data-progress="95">
                    </div>

                </div>


            </div>





            <div class="skill-item">


                <div class="skill-header">


                    <span class="skill-name">

                        JavaScript

                    </span>


                    <span class="skill-percentage">

                        80%

                    </span>


                </div>



                <div class="skill-bar">

                    <div
                        class="skill-progress"
                        data-progress="80">
                    </div>

                </div>


            </div>



        </div>





        <!-- Technology Cards -->

        <div class="skills-grid reveal-right">



            <div class="skill-card card">


                <div class="skill-card-icon">

                    🐘

                </div>


                <h4>

                    PHP

                </h4>


                <p>

                    Backend Development

                </p>


            </div>





            <div class="skill-card card">


                <div class="skill-card-icon">

                    🚀

                </div>


                <h4>

                    Laravel

                </h4>


                <p>

                    Framework Development

                </p>


            </div>





            <div class="skill-card card">


                <div class="skill-card-icon">

                    📝

                </div>


                <h4>

                    WordPress

                </h4>


                <p>

                    CMS Development

                </p>


            </div>





            <div class="skill-card card">


                <div class="skill-card-icon">

                    🛒

                </div>


                <h4>

                    WooCommerce

                </h4>


                <p>

                    eCommerce Solutions

                </p>


            </div>





            <div class="skill-card card">


                <div class="skill-card-icon">

                    🗄️

                </div>


                <h4>

                    MySQL

                </h4>


                <p>

                    Database Design

                </p>


            </div>





            <div class="skill-card card">


                <div class="skill-card-icon">

                    ⚙️

                </div>


                <h4>

                    Git & Tools

                </h4>


                <p>

                    Development Workflow

                </p>


            </div>



        </div>



    </div>


</section>